html {color:#66757F; font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;;}

body {background-color:#CBEAFF}

h1 {color:#333A40;text-align:center;}

h2 {color:#5B717F;text-align:center;border-bottom:7px groove #7CC2FF}

h3 {color:#5D92BF}
